*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 72%, 42%);
    --vb-violet: hsl(259, 16%, 27%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(51, 98%, 51%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(132, 94%, 66%);
    --vb-cyan2: hsl(64, 84%, 57%);
    --dk-text: hsl(200, 5%, 11%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(7, 29, 108) 0%, rgb(15, 58, 167)100%);
}

.container {
    width: 90%;
    max-width: 450px;
}

h1 {
    color: var(--pl-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
    font-weight: bolder;
    text-shadow: 3px 3px rgb(10, 10, 10);
}

.copyBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.display-container {
    position: relative;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
}

.display::placeholder {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--vb-yellow);
    opacity: 0.75;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container {
    width: 100%;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
}

.length-container p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.length-container p:nth-child(2) {
    color: var(--vb-yellow);
    font-size: 1.5rem;
}

.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p {
    color: var(--pl-white);
    font-size: 1.5rem;
}

.indicator {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--lt-violet2);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

.check {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked {
    background-color: var(--vb-cyan);
}

.check input:checked::before {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -11.5px;
    transform: translateX(-50%) translateY(40%);
}

.check label {
    color: rgb(214, 221, 221);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.tooltip {
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active {
    opacity: 1;
    transform: scale(1);
}

.slider {
    appearance: none;
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    /* background-color: rgb(88, 88, 84); */
    background-color: rgb(109, 104, 104);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    /* background-image: linear-gradient(var(--vb-violet), var(--vb-violet)); */
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.slider::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(206, 64, 64);
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;
}

.slider::-webkit-slider-thumb:hover {
    outline: 2px solid rgb(247, 185, 180);
    background-color: rgb(206, 64, 64);
    box-shadow: 0px 0px 11px 2px rgba(246, 205, 197, 0.8);
}